# SERVIDOR (Aplicação Node.js)
# Ambiente de execução: development | production | test
NODE_ENV=development

# Porta em que a API escutará as requisições (padrão local: 3000)
PORT=3000

# AUTENTICAÇÃO E SEGURANÇA (JWT)
# Chave secreta usada para assinar e validar os tokens JWT.
JWT_SECRET=super_secret_jwt_key_change_in_production

# BANCO DE DADOS (Prisma ORM)
# 1. URL de conexão no formato de connection string do Prisma:
DATABASE_URL="mysql://root:1234@localhost:3306/blogs_api"
#
# 2. Para Execução dentro do Docker Compose (rede interna):
# DATABASE_URL="mysql://root:1234@db:3306/blogs_api"
#

# VARIÁVEIS AUXILIARES DO MYSQL (Utilizadas pelo docker-compose.yml)
MYSQL_USER=root
MYSQL_PASSWORD=1234
MYSQL_DB_NAME=blogs_api
MYSQL_HOST=localhost
MYSQL_PORT=3306
