#### SERVER VARS
NODE_ENV=development
API_PORT=3000
API_HOST=localhost

#### DATABASE VARS
DATABASE_URL="mysql://root:1234@localhost:3306/blogs_api"
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB_NAME=blogs_api
MYSQL_USER=root
MYSQL_PASSWORD=1234

#### SECRET VARS
JWT_SECRET=suaSenhaSecreta
